body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 700px;
    width: 400px;
    background-color: black;
    margin-top: 100px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

.display {
    
    display: flex;
    justify-content: start ;
    align-items: center;
    height: 125px;
    width: inherit - 50px;
    margin: 15px 25px;
    margin-top: 25px;
    border-radius: 5%;
}

#keys {
    height: 400px;
    width: inherit - 100px;
    margin: 25px 32px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.btn {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border-style: none;
    margin: 5px;
    background-color: rgb(43, 43, 43);
}
.btn:active {
    border-radius: 0%;
    border-style: double;
}

#zero-btn {
    width: 150px;
    margin: 5px 7px;
    border-radius: 35%;
}